{% extends 'pages/base.html' %}

{% block title %}
  Shop
{% endblock %}

{% block content %}

<section class="ftco-section ftco-cart">
    <div class="container">
        <div class="row">
        <div class="col-md-12 ftco-animate">
            <div class="cart-list">
                <table class="table">
                    <thead class="thead-primary">
                      <tr class="text-center">
                        <th>&nbsp;</th>
                        <th>Danh sách sản phẩm</th>
                        <th>&nbsp;</th>
                        <th>Giá</th>
                        <th>Số lượng</th>
                        <th>Thành tiền</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr class="text-center">
                        <td class="product-remove"><a href="#"><span class="ion-ios-close"></span></a></td>
                        
                        <td class="image-prod"><div class="img" style="background-image:url(https://bizweb.dktcdn.net/thumb/medium/100/392/555/products/dong-trung-ha-thao-qua-the-kho-2-eca10d82-cc6c-4a4d-8c32-26ecfc764e77.jpg?v=1659059119897);"></div></td>
                        
                        <td class="product-name">
                            <h3>Trà Đông Trùng Hạ Thảo Qủa Thể Khô</h3>
                            <p>Sản Phẩm Tặng Kèm Túi Giấy Xách Ngoài</p>
                        </td>
                        
                        <td class="price">2.400.000₫</td>
                        
                        <td class="quantity">
                            <div class="input-group mb-3">
                             <input type="text" name="quantity" class="quantity form-control input-number" value="1" min="1" max="100">
                          </div>
                      </td>
                        
                        <td class="total">2.400.000₫</td>
                      </tr><!-- END TR-->

                      <tr class="text-center">
                        <td class="product-remove"><a href="#"><span class="ion-ios-close"></span></a></td>
                        
                        <td class="image-prod"><div class="img" style="background-image:url(https://bizweb.dktcdn.net/thumb/medium/100/392/555/products/hu-yen-sao-chung-san-hat-sen-2.jpg?v=1658121412000);"></div></td>
                        
                        <td class="product-name">
                            <h3>Com Bô 20 Hũ Yến Sào Khánh Hòa Chưng Hạt Sen 70ml</h3>
                            <p>Sản Phẩm Tặng Kèm Túi Giấy Xách Ngoài</p>
                        </td>
                        
                        <td class="price">800.000₫</td>
                        
                        <td class="quantity">
                            <div class="input-group mb-3">
                             <input type="text" name="quantity" class="quantity form-control input-number" value="1" min="1" max="100">
                          </div>
                      </td>
                        
                        <td class="total">800.000₫</td>
                      </tr><!-- END TR-->

                      <tr class="text-center">
                        <td class="product-remove"><a href="#"><span class="ion-ios-close"></span></a></td>
                        
                        <td class="image-prod"><div class="img" style="background-image:url(https://bizweb.dktcdn.net/thumb/medium/100/392/555/products/hu-yen-sao-chung-san-hat-sen-1.jpg?v=1658121274000);"></div></td>
                        
                        <td class="product-name">
                            <h3>Hũ Yến Sào Khánh Hòa Chưng Hạt Sen 70ml</h3>
                            <p>Sản Phẩm Tặng Kèm Túi Giấy Xách Ngoài</p>
                        </td>
                        
                        <td class="price">45.000₫<</td>
                        
                        <td class="quantity">
                            <div class="input-group mb-3">
                             <input type="text" name="quantity" class="quantity form-control input-number" value="1" min="1" max="100">
                          </div>
                      </td>
                        
                        <td class="total">45.000₫<</td>
                      </tr><!-- END TR-->

                      <tr class="text-center">
                        <td class="product-remove"><a href="#"><span class="ion-ios-close"></span></a></td>
                        
                        <td class="image-prod"><div class="img" style="background-image:url(https://bizweb.dktcdn.net/thumb/medium/100/392/555/products/to-yen-sao-khanh-hoa-vinari-go-thong-31.jpg?v=1650017393000);"></div></td>
                        
                        <td class="product-name">
                            <h3>Tổ Yến Sào Khánh Hòa Tinh Chế Thượng Phẩm 100Gram</h3>
                            <p>Sản Phẩm Tặng Kèm Túi Giấy Xách Ngoài</p>
                        </td>
                        
                        <td class="price">5.200.000₫</td>
                        
                        <td class="quantity">
                            <div class="input-group mb-3">
                             <input type="text" name="quantity" class="quantity form-control input-number" value="1" min="1" max="100">
                          </div>
                      </td>
                        
                        <td class="total">5.200.000₫</td>
                      </tr><!-- END TR-->

                      <tr class="text-center">
                        <td class="product-remove"><a href="#"><span class="ion-ios-close"></span></a></td>
                        
                        <td class="image-prod"><div class="img" style="background-image:url(https://bizweb.dktcdn.net/thumb/medium/100/392/555/products/yen-sao-khanh-hoa-tc0-hop-go-2.jpg?v=1660036524000);"></div></td>
                        
                        <td class="product-name">
                            <h3>Tổ Yến Sào Tinh Chế Đặc Biệt TC0 100gram - Hộp Gỗ</h3>
                            <p>Sản Phẩm Tặng Kèm Túi Giấy Xách Ngoài</p>
                        </td>
                        
                        <td class="price">4.800.000₫</td>
                        
                        <td class="quantity">
                            <div class="input-group mb-3">
                             <input type="text" name="quantity" class="quantity form-control input-number" value="1" min="1" max="100">
                          </div>
                      </td>
                        
                        <td class="total">4.800.000₫</td>
                      </tr><!-- END TR-->

                      <tr class="text-center">
                        <td class="product-remove"><a href="#"><span class="ion-ios-close"></span></a></td>
                        
                        <td class="image-prod"><div class="img" style="background-image:url(https://bizweb.dktcdn.net/thumb/medium/100/392/555/products/yen-sao-khanh-hoa-go-thong-50g-2.jpg?v=1649344745000);"></div></td>
                        
                        <td class="product-name">
                            <h3>Tổ Yến Sào Tinh Chế Đặc Biệt TC0 50gram - Hộp Gỗ</h3>
                            <p>Sản Phẩm Tặng Kèm Túi Giấy Xách Ngoài</p>
                        </td>
                        
                        <td class="price">2.400.000₫</td>
                        
                        <td class="quantity">
                            <div class="input-group mb-3">
                             <input type="text" name="quantity" class="quantity form-control input-number" value="1" min="1" max="100">
                          </div>
                      </td>
                        
                        <td class="total">2.400.000₫</td>
                      </tr><!-- END TR-->
                    </tbody>
                  </table>
              </div>
        </div>
    </div>
    </div>
</section>

{% endblock %}