{% extends 'pages/base.html' %}

{% block title %}
 Sản Phẩm
{% endblock %}

{% block content %}

<div class="hero-wrap hero-bread" style="background-image: url('images/bg_1.jpg');">
  <div class="container">
    <div class="row no-gutters slider-text align-items-center justify-content-center">
      <div class="col-md-9 ftco-animate text-center">
        <p class="breadcrumbs"><span class="mr-2"><a href="index.html">Home</a></span> <span>Sản phẩm</span></p>
        <h1 class="mb-0 bread">Sản phẩm</h1>
      </div>
    </div>
  </div>
</div>

<section class="ftco-section">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 mb-5 ftco-animate">
        <a href="https://bizweb.dktcdn.net/thumb/medium/100/392/555/products/dong-trung-ha-thao-qua-the-kho-2-eca10d82-cc6c-4a4d-8c32-26ecfc764e77.jpg?v=1659059119897" class="image-popup"><img src="https://bizweb.dktcdn.net/thumb/medium/100/392/555/products/dong-trung-ha-thao-qua-the-kho-2-eca10d82-cc6c-4a4d-8c32-26ecfc764e77.jpg?v=1659059119897" class="img-fluid" alt="Colorlib Template"></a>
      </div>
      <div class="col-lg-6 product-details pl-md-5 ftco-animate">
        <h3>Trà Đông Trùng Hạ Thảo Qủa Thể Khô - 40gram</h3>
        <div class="rating d-flex">
          <p class="text-left mr-4">
            <a href="#" class="mr-2">5.0</a>
            <a href="#"><span class="ion-ios-star-outline"></span></a>
            <a href="#"><span class="ion-ios-star-outline"></span></a>
            <a href="#"><span class="ion-ios-star-outline"></span></a>
            <a href="#"><span class="ion-ios-star-outline"></span></a>
            <a href="#"><span class="ion-ios-star-outline"></span></a>
          </p>
          <p class="text-left mr-4">
            <a href="#" class="mr-2" style="color: #000;">100 <span style="color: #bbb;">Xếp hạng</span></a>
          </p>
          <p class="text-left">
            <a href="#" class="mr-2" style="color: #000;">500 <span style="color: #bbb;">Đã bán</span></a>
          </p>
        </div>
        <p class="price"><span>2.400.000₫</span></p>
        <p>Đông Trùng Hạ Thảo VinaRI có hàm lượng dược chất cao, hình thức đẹp, mùi vị thơm ngon. Sản phẩm được sản xuất sử dụng 100% nguyên liệu tự nhiên, đảm bảo sạch, an toàn, không chất kích thích, hóa chất, chất bảo quản
          Đơn giá : 2.4 triệu/ lọ gồm 40gram <br><br>
          Đông Trùng Hạ Thảo VinaRI có hàm lượng dược chất cao, hình thức đẹp, mùi vị thơm ngon.<br><br>
          Sản phẩm được sản xuất sử dụng 100% nguyên liệu tự nhiên, đảm bảo sạch, an toàn, không chất kích thích, hóa chất, chất bảo quản. <br><br>
          VinaRI - đông trùng hạ thảo chính hãng, giá rẻ, mẫu mã đẹp<br><br>
          Hoàn tiền 100% nếu quý khách không hài lòng chất lượng
        </p>
        <div class="row mt-4">
          <div class="col-md-6">
            <div class="form-group d-flex">
              <div class="select-wrap">
                <div class="icon"><span class="ion-ios-arrow-down"></span></div>
                <select name="" id="" class="form-control">
                  <option value="">Nhỏ</option>
                  <option value="">Vừa</option>
                  <option value="">Lớn</option>
                  <option value="">Siêu lớn</option>
                </select>
              </div>
            </div>
          </div>
          <div class="w-100"></div>
          <div class="input-group col-md-6 d-flex mb-3">
             <span class="input-group-btn mr-2">
                <button type="button" class="quantity-left-minus btn"  data-type="minus" data-field="">
                 <i class="ion-ios-remove"></i>
                </button>
              </span>
             <input type="text" id="quantity" name="quantity" class="form-control input-number" value="1" min="1" max="100">
             <span class="input-group-btn ml-2">
                <button type="button" class="quantity-right-plus btn" data-type="plus" data-field="">
                   <i class="ion-ios-add"></i>
               </button>
             </span>
          </div>
          <div class="w-100"></div>
          <div class="col-md-12">
            <p style="color: #000;">600 hộp có sẵn</p>
          </div>
        </div>
        <p><a href="cart.html" class="btn btn-black py-3 px-5">Thêm vào giỏ hàng</a></p>
      </div>
    </div>
  </div>
</section>

<section class="ftco-section">
  <div class="container">
    <div class="row justify-content-center mb-3 pb-3">
      <div class="col-md-12 heading-section text-center ftco-animate">
        <span class="subheading">Các sản phẩm</span>
        <h2 class="mb-4">Các sản phẩm liên quanquan</h2>
        <p> Giao Hàng Miễn Phí Vận Chuyển Siêu Tốc Trong Thời Gian 1h Phút Tại : Thái Nguyên - Hà Nội - Đà Nẵng - Tphcm</p>
      </div>
    </div>   		
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-lg-3 ftco-animate">
        <div class="product">
          <a href="#" class="img-prod"><img class="img-fluid" src="https://bizweb.dktcdn.net/thumb/medium/100/392/555/products/hu-yen-sao-chung-san-hat-sen-2.jpg?v=1658121412000" alt="Colorlib Template">
            <span class="status">30%</span>
            <div class="overlay"></div>
          </a>
          <div class="text py-3 pb-4 px-3 text-center">
            <h3><a href="#">Com Bô 20 Hũ Yến Sào Khánh Hòa Chưng Hạt Sen 70ml</a></h3>
            <div class="d-flex">
              <div class="pricing">
                <p class="price"><span class="mr-2 price-dc">800.000₫</span><span class="price-sale">800.000₫</span></p>
              </div>
            </div>
            <div class="bottom-area d-flex px-3">
              <div class="m-auto d-flex">
                <a href="#" class="add-to-cart d-flex justify-content-center align-items-center text-center">
                  <span><i class="ion-ios-menu"></i></span>
                </a>
                <a href="#" class="buy-now d-flex justify-content-center align-items-center mx-1">
                  <span><i class="ion-ios-cart"></i></span>
                </a>
                <a href="#" class="heart d-flex justify-content-center align-items-center ">
                  <span><i class="ion-ios-heart"></i></span>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-3 ftco-animate">
        <div class="product">
          <a href="#" class="img-prod"><img class="img-fluid" src="https://bizweb.dktcdn.net/thumb/medium/100/392/555/products/hu-yen-sao-chung-san-hat-sen-1.jpg?v=1658121274000" alt="Colorlib Template">
            <div class="overlay"></div>
          </a>
          <div class="text py-3 pb-4 px-3 text-center">
            <h3><a href="#">Hũ Yến Sào Khánh Hòa Chưng Hạt Sen 70ml</a></h3>
            <div class="d-flex">
              <div class="pricing">
                <p class="price"><span>45.000₫</span></p>
              </div>
            </div>
            <div class="bottom-area d-flex px-3">
              <div class="m-auto d-flex">
                <a href="#" class="add-to-cart d-flex justify-content-center align-items-center text-center">
                  <span><i class="ion-ios-menu"></i></span>
                </a>
                <a href="#" class="buy-now d-flex justify-content-center align-items-center mx-1">
                  <span><i class="ion-ios-cart"></i></span>
                </a>
                <a href="#" class="heart d-flex justify-content-center align-items-center ">
                  <span><i class="ion-ios-heart"></i></span>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-3 ftco-animate">
        <div class="product">
          <a href="#" class="img-prod"><img class="img-fluid" src="https://bizweb.dktcdn.net/thumb/medium/100/392/555/products/to-yen-sao-khanh-hoa-vinari-go-thong-31.jpg?v=1650017393000" alt="Colorlib Template">
            <div class="overlay"></div>
          </a>
          <div class="text py-3 pb-4 px-3 text-center">
            <h3><a href="#">Tổ Yến Sào Khánh Hòa Tinh Chế Thượng Phẩm 100Gram</a></h3>
            <div class="d-flex">
              <div class="pricing">
                <p class="price"><span>5.200.000₫</span></p>
              </div>
            </div>
            <div class="bottom-area d-flex px-3">
              <div class="m-auto d-flex">
                <a href="#" class="add-to-cart d-flex justify-content-center align-items-center text-center">
                  <span><i class="ion-ios-menu"></i></span>
                </a>
                <a href="#" class="buy-now d-flex justify-content-center align-items-center mx-1">
                  <span><i class="ion-ios-cart"></i></span>
                </a>
                <a href="#" class="heart d-flex justify-content-center align-items-center ">
                  <span><i class="ion-ios-heart"></i></span>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-3 ftco-animate">
        <div class="product">
          <a href="#" class="img-prod"><img class="img-fluid" src="https://bizweb.dktcdn.net/thumb/medium/100/392/555/products/yen-sao-khanh-hoa-tc0-hop-go-2.jpg?v=1660036524000" alt="Colorlib Template">
            <div class="overlay"></div>
          </a>
          <div class="text py-3 pb-4 px-3 text-center">
            <h3><a href="#">Tổ Yến Sào Tinh Chế Đặc Biệt TC0 100gram - Hộp Gỗ </a></h3>
            <div class="d-flex">
              <div class="pricing">
                <p class="price"><span>4.800.000₫</span></p>
              </div>
            </div>
            <div class="bottom-area d-flex px-3">
              <div class="m-auto d-flex">
                <a href="#" class="add-to-cart d-flex justify-content-center align-items-center text-center">
                  <span><i class="ion-ios-menu"></i></span>
                </a>
                <a href="#" class="buy-now d-flex justify-content-center align-items-center mx-1">
                  <span><i class="ion-ios-cart"></i></span>
                </a>
                <a href="#" class="heart d-flex justify-content-center align-items-center ">
                  <span><i class="ion-ios-heart"></i></span>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}